.header {
  margin: 40px 0;
}

.main {
  display: flex;
  flex-direction: column-reverse;
  margin: -8px;
}

@media screen and (min-width: 850px) {
  .main {
    flex-direction: row;
    flex: 1 0 auto;
  }
}
